.es-avatar {
    display: block;
}

.es-avatar img.es-avatar-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.es-avatar.cursor-pointer {
    cursor: pointer;
}

.es-avatar.border img.es-avatar-img {
    border: 2px solid #dcdee0;
}